<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScannerDemoIOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D04916B52DDC5F21003A55E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D04916C72DDC5F24003A55E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D04916D12DDC5F24003A55E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
